<body>
        <h1>We support charity</h1>
        </br>
        <p>As one of Unicef's Goodwill Ambassadors ConcertWOW has advocated for the importance of establishing political
                initiatives that put an end to the higher number of children without access to education. According to
                the international institution, UNICEF, over 120 million children around the world are without any formal
                education or schooling.</p>
        </br> </br>
        <p>ALAS Foundation is a non-profit organization created by the most prominent Latin American artists, business
                leaders and intellectuals to mobilize Latin-American society towards the implementation of integrated
                early childhood public policies. 9 million Latin American children younger than 5 years old suffer from
                chronic malnutrition and 22 million don't have access to education. Malnutrition and the absence of care
                in the early stages of life are the main mechanisms for the transmission of inequality. This is why
                experts agree that early childhood development is one of the most effective tools to end with the
                intergenerational cycle of poverty.</p>
        </br></br>
        <h2>You can help too</h2>
        </br> </br>
        <p>The Pies Descalzos Foundation was founded in Barranquilla, Colombia, during the late '90s when Shakira, only
                18 years old at the time, decided to take up the social duty of collaborating on efforts to improve the
                education, nutrition and health of the most vulnerable: the children. The organization consists of
                support programs for children and their families and offers real solutions to increase quality of life
                and give these kids and their families the opportunity to exercise their right to an education, which
                will later determine their growth and development in society.</p>

</body>