<body class="acasa">
  <ul class="navigation">
    <li><a href="contact">Contact</a></li>
    <li style="float:right"><a href="about">About</a></li>
    <li style="float:right"><a href="gallery">Gallery</a></li>
    <li style="float:right"><a href="concerts">Concerts</a></li>
    <li><a class="active" href="/">Home</a></li>

    <li style="float:left"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a> </li>
    <li style="float:left"> <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> </li>
    <li style="float:left"> <a href="#" class="google"><i class="fa fa-google"></i></a> </li>
    <li style="float:left"> <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
    <li style="float:left"> <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> </li>
  </ul>


  <div class="slideshow-container">
    <div class="mySlides ">

      <img src="/u3.jpg" style="width:1530px;height: 500px;">
      <div class="text">Join us for a night to remember
        </br></br>
        <p id="concert">Martin Garrix</p>
        </br>
        <p>September 14, 2022</p>
        </br>
        <button onclick="window.location.href='/ticket'" class="button1 button">Buy Now</button>
        <button onclick="window.location.href='/concerts'" class="button2 button">Discover more</button>
      </div>
    </div>

    <div class="mySlides ">

      <img src="/5ha.jpg" style="width:1530px;height: 500px;">
      <div class="text">Come and see
        </br></br>
        <p id="concert">Fifth Harmony</p>
        </br>
        <p>August 15, 2022</p>
        </br>
        <button onclick="window.location.href='/concerts'" class="button1 button">Buy Now</button>
        <button onclick="window.location.href='/concerts'" class="button2 button">Discover more</button>
      </div>
    </div>
    <div class="mySlides ">

      <img src="/tw3.jpg" style="width:1530px;height: 500px;">
      <div class="text">Come and listen to
        </br></br>
        <p id="concert">The Weeknd</p>
        </br>
        <p>June 14, 2022</p>
        </br>
        <button onclick="window.location.href='/ticket'" class="button1 button">Buy Now</button>
        <button onclick="window.location.href='/concerts'" class="button2 button">Discover more</button>
      </div>
    </div>

    <div class="mySlides">

      <img src="/bb1.jpg" style="width:1530px;height: 500px;">
      <div class="text">LIVE
        </br></br>
        <p id="concert">Beyonce</p>
        </br>
        <p>September 25, 2022</p>
        </br>
        <button onclick="window.location.href='/ticket'" class="button1 button">Buy Now</button>
        <button onclick="window.location.href='/concerts'" class="button2 button">Discover more</button>
      </div>
    </div>

  </div>

  <div class="BuyTicket">
    </br></br></br></br>
    <h2 id="h2">Get your tickets</h2>
    <p id="p">Come and listen to your favourite artist. Don't overthink it. Get your ticket now!
    </p>
    </br></br></br></br>
  </div>
  <div class="btn3">
    <h2></h2>
    <p>t</p>
    </br></br></br>
    <button onclick="window.location.href='/concerts'" class="button3 button">Buy Tickets</button>
    </br></br></br></br>
  </div>

  </div>
  </br>
  <div style="text-align:center">
    </br>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
  <div class="Welcome">
    <h1>Welcome</h1>
    </br></br>
    <p>We want to create a easy way for customers to purchase concert tikets.</p>
    <p>Click on Concerts to see what artists you can see this year in our location.</p>
    <p>We also have a Gallery with photos where you can see the best moments we captured during concerts.</p>
    <p>For more information about getting your ticket you can access the About section.</p>
    <p>To see the exact place where your favourite artist will perform click on Contact and don't forget to get your
      tickets as fast as you can. </p>
    <p>Don't forget to check our website for new concerts!</p>
    <p>Come meet your favourite artist right now!</p>
    <p>Come be a part of our story!</p>
  </div>

  <footer class="footer-distributed">

    <div class="footer-left">

      <h3>Concert<span>WOW</span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Blog</a>
        ·
        <a href="#">Pricing</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">Ceuca Roxana- Proiect LTW &copy; 2022</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>15 Palas Street</span> Iasi, Romania</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+0756342768</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@company.com">contact@concertwow.com</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>Follow us on social media:</span>

      </p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>


      </div>

    </div>

  </footer>


  <!--functie pentru slide-show-->
  <script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) { slideIndex = 1 }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      setTimeout(showSlides, 4000);
    }
  </script>
</body>

</html>